body {
    font-family: sans-serif;
    background-color: rgba(173, 173, 106, 1);
    margin-top: 50px;
}


.container {
    margin: 0 auto;
    max-width: 800px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

